.header {
    width: 100vw;
    height: 5rem;
    display: flex;
    position: fixed;
    top: 0;
    transition: all 0.3s linear;
    margin: 10px auto;
    padding: 0px 10px;
    z-index: 9;
}

.hide {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}

.header-wrapper {
    min-width: fit-content;
    max-width: 90%;
    padding: 10px 25px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fc4d62;
    border-radius: 12px;
    position: relative;
    
}

.hidden {
    top: -5rem;
}

.logo {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin-right: 3rem;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    gap: 2rem;
}

.header li {
    white-space: nowrap  
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    color: #fc4d62;
    border-radius: 8px;
    padding: 0 1rem;
    margin: 5px;
}

.navlink {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fcb8d2;
    transition: all ease 0.4s;
    position: relative;
}

.navlink-active {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.navlink:hover {
    color: white;
}

@media (max-width: 767px) {
    .header {
        display: none;

    }
}
